body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-image: url(../image/grass-land.webp);
}
.body {
  font-size: 30px;
  color: black;
}
.head {
  text-align: center;
}
.center {
  text-align: start;
  justify-content: space-between;
  color: #2bae66ff;
  margin-left: 130px;
  margin-top: 30px;
}

.sub {
  margin-top: 20px;
  margin-left: 80px;
}

.bottom {
  align-items: baseline;
  display: inline-block;
}
.form .c {
  align-content: center;
  justify-content: center;
  margin-top: -130px;
  margin-left: 130px;
}
.fs {
  border: solid 2px grey;
  box-shadow: 2px 2px 2px rgba(100, 100, 100);
  width: 600px;
  height: 550px;
  margin-top: 100px;
  /* background-color: #d6fa8c; */
  border-radius: 40px;
}
.form input {
  font-size: 30px;
  border-radius: 10px;
  border: none;
}
.full {
  justify-content: center;
  margin-left: 480px;
}
.log {
  margin-top: 30px;
  margin-left: 25%;
}

button {
  font-size: 30px;
  border-radius: 50px;
  width: 300px;
  color: #2bae66ff;
  border: 1px solid #2bae66ff;
}
.h {
  margin-left: -400px;
  font-size: 25px;
  margin-top: -150px;
  display: flex;
  color: seagreen;
}
footer {
  position: fixed;
}
button:hover {
  transform: scaleY(1.2);
}

/* Media query*/
@media screen and (max-width: 600px) {
  * {
    font-size: 25px;
    margin-left: -50px;
  }
  .head img {
    margin-left: 80px;
    width: 80px;
  }
  .form input {
    font-size: 20px;
  }
  .h {
    margin-top: -110px;
    margin-left: 50px;
  }
  .fs {
    margin-left: -345px;
    width: 500px;
    height: 500px;
  }
  .form {
    margin-left: 40px;
    margin-top: 120px;
  }
  .center {
    width: 300px;
  }
  .sub {
    margin-left: 100px;
  }
  .log {
    margin-left: -50px;
  }
  p {
    margin: 0px;
    margin-left: -170px;
  }
  button {
    font-size: 20px;
    width: 150px;
  }
}
