body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-color: rgb(191, 227, 191);
  color: black;
}
.body {
  font-size: 30px;
  color: black;
}
.head {
  text-align: center;
}
.center {
  text-align: start;
  justify-content: space-between;
  color: black;
  margin-left: 130px;
  margin-top: 30px;
}

.sub {
  margin-top: 20px;
  margin-left: 130px;
}

.bottom {
  align-items: baseline;
  display: inline-block;
}
.form .c {
  align-content: center;
  justify-content: center;
  margin-top: -130px;
  margin-left: 130px;
}
.fs {
  border: solid 2px blue;
  width: 600px;
  height: 500px;
  margin-top: 150px;
  background-color: #d6fa8c;
  border-radius: 40px;
}
.form input {
  font-size: 25px;
  border-radius: 10px;
}
.full {
  justify-content: center;
  margin-left: 480px;
  margin-top: -40px;
}
.log {
  margin-top: 30px;
  margin-left: 130px;
}
p {
  margin-top: 00px;
}
button {
  font-size: 30px;
  border-radius: 50px;
  width: 300px;
  color: blue;
}
.h {
  margin-left: -400px;
  font-size: 30px;
  margin-top: -150px;
  display: flex;
  color: seagreen;
}
footer {
  bottom: 00px;
  position: fixed;
}
