body {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2bae66ff;
  margin-left: 70px;
  margin-top: 100px;
}
.logo {
  text-align: center;
  margin-top: -70px;
}
.header {
  display: flex;
}
.head img {
  border-radius: 20px;
  background-color: #2bae66ff;
}
.title {
  color: #2bae66ff;
  margin-left: 400px;
  margin-top: -40px;
}
.main {
  margin-top: 00px;
  margin-left: 00px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  text-align: center;
}
input {
  font-size: 23px;
}
.main ::placeholder {
  font-size: 40px;
}

.footer {
  top: 770px;
  align-content: center;
  margin-left: 580px;
  position: fixed;
}
.footer button {
  width: 200px;
  background-color: #2bae66ff;
  color: blue;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 25px;
}
.add img {
  margin-left: 150px;
}
button {
  background-color: #2bae66ff;
  color: white;
}
