body {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2bae66ff;
  /* margin-left: 70px; */
  /* margin-top: 10px; */
  background-color: rgb(242, 254, 242);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo {
  text-align: center;
  /* margin-top: -70px; */
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
header button {
  font-size: 25px;
  height: 50px;
  width: 130px;
  border: none;
  background-color: #2bae66ff;
  color: aliceblue;
  border-radius: 5px;
}
button:hover {
  color: #2bae66ff;
  background-color: aliceblue;
  transition: 1s;
}
.head img {
  border-radius: 5px;
  background-color: #2bae66ff;
  color: aliceblue;
}
.title {
  color: #2bae66ff;
  margin-top: -40px;
  /* margin-left: 200px; */
}

input {
  font-size: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(146, 193, 125);
}
.main ::placeholder {
  font-size: 40px;
}
.sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.full_list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.list {
  width: 500px;
}
.list nav {
  margin-top: 15px;
}
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  /* margin-top: 40px; */
  top: 820px;
  position: fixed;
}
.footer button {
  width: 200px;
  background-color: #2bae66ff;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 25px;
  border: none;
}
.footer button:hover {
  color: #2bae66ff;
  background-color: aliceblue;
  transition: 1s;
}
.add img {
  margin-left: 150px;
}
.btn {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  background-color: #2bae66ff;
  color: white;
  margin-top: 15px;
}
.btn-card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
/* .add_detail {
  margin-top: 100px;
} */
.detail,
.img {
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(162, 211, 139);
}
.details {
  /* text-align: center; */
  height: 350px;
}
.full-card {
  /* background-color: rgb(237, 247, 237); */
  /* width: 550px; */
  /* text-align: center; */
  border-radius: 10px;
  height: 650px;
  background-color: white;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(146, 193, 125);
}
.full-card h3 {
  text-align: center;
}
/* .btn-card { */
/* display: flex; */
/* justify-content: space-evenly; */
/* } */
.description {
  width: 580px;
  height: 100px;
  /* overflow: hidden; */
}
.output-btn {
  width: 300px;
  height: 40px;
  /* margin-top: 10px; */
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(146, 193, 125);
}
.div_card-output {
  height: 440px;
  /* width: 400px; */
  background-color: rgb(191, 227, 191);
  text-align: center;
  float: right;
  border-radius: 10px;
}

/* media query*/

@media screen and (max-width: 600px) {
  body {
    width: 600px;
  }
  th {
    width: 60px;
    font-size: 20px;
  }
  td {
    width: 60px;
    font-size: 10px;
  }
  input {
    width: 90px;
    margin-left: 00px;
    border: none;
  }
  /* .title {
    font-size: 40px;
    width: 300px;
    margin-left: 10px;
    /* margin-top: 40px; *
  } */
  .footer {
    top: 90%;
  }
}
