body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #2bae66ff;
  background-color: rgb(191, 227, 191);
}
h2 {
  margin-left: 80px;
  top: 80px;
}
.form {
  width: 420px;
  margin-top: 50px;
  margin-left: 30%;
  align-content: space-between;
  justify-content: space-between;
}
.form input {
  font-size: 30px;
  background-color: rgb(191, 227, 191);
}
.footer {
  top: 820px;
  text-align: center;
}
.footer button {
  width: 200px;
  color: #2bae66ff;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 40px;
}
.footer button:hover {
  transform: scaleY(1.3);
}
.logo {
  text-align: center;
}

/* media query*/

@media screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
    margin-top: 00px;
  }
  .form {
    margin-left: 17%;
    margin-top: 5px;
  }
  .footer button {
    margin-top: 20px;
    margin-left: 35%;
  }
}
