body {
  font-size: 25px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2bae66ff;
  background-color: rgb(191, 227, 191);
}
button {
  font-size: 25px;
  border-radius: 10px;
}
.btn {
  color: #2bae66ff;
}
.btn button {
  background-color: #2bae66ff;
  color: blue;
  width: 300px;
  height: 50px;
}
