.body {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 80px;
  margin-top: 30px;
  color: #2bae66ff;
  background-color: rgb(191, 227, 191);
}
header {
  justify-content: space-around;
  align-content: space-around;
}
.header {
  text-align: center;
}
.header img {
  margin-top: -80px;
}
.detail {
  width: 100px;
}
.details {
  float: right;
  width: 500px;
  margin-top: 40px;
}
input {
  font-size: 30px;
  color: #2bae66ff;
  background-color: rgb(191, 227, 191);
}
.footer {
  text-align: center;
  top: 800px;
  background-color: #2bae66ff;
  color: white;
  width: 1550px;
  height: 120px;
  margin-top: 0px;
  left: 00px;
}
.id {
  margin-top: 330px;
}
.foot-p {
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
p {
  margin-left: 150px;
}
p img {
  margin-top: 10px;
}
.total-amount {
  margin-top: 30px;
}

/* media query*/

@media screen and (max-width: 600px) {
  .body {
    width: 600px;
    margin-left: 00px;
  }
  table {
    font-size: 25px;
  }
  h3 {
    font-size: 30px;
  }
  .main {
    margin-left: 50px;
  }
  .details {
    margin-top: 00px;
    margin-left: 10px;
  }
  .footer {
    width: 600px;
    height: 180px;
  }
  .foot-p {
    width: 500px;
    margin-left: 50px;
  }
  .id {
    margin-top: 100px;
    margin-left: 00px;
    width: 600px;
  }
  .header img {
    width: 80px;
  }
}
