body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-color: rgb(191, 227, 191);
}
.body {
  font-size: 30px;
  color: white;
}

.center {
  text-align: start;
  justify-content: space-between;
  color: white;
}

.sub {
  margin-top: 20px;
}

.bottom {
  align-items: baseline;
  display: inline-block;
}
.form {
  align-content: center;
  justify-content: center;
  margin-top: 00px;
}
.form input {
  font-size: 25px;
}
.full {
  justify-content: center;
  margin-left: 500px;
  top: 10px;
  color: #2bae66ff;
}
label {
  color: #2bae66ff;
}
.log {
  margin-top: 50px;
}

button {
  font-size: 30px;
}
.h {
  margin-left: -400px;
  font-size: 30px;
  margin-top: -10px;
  display: flex;
}
footer {
  bottom: 00px;
  position: fixed;
}
