body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-color: rgb(191, 227, 191);
}
.body {
  font-size: 30px;
  color: white;
}
.logo {
  text-align: center;
}
.center {
  text-align: start;
  justify-content: space-between;
  color: white;
}

.sub {
  margin-top: 20px;
}

.bottom {
  align-items: baseline;
  display: inline-block;
}

.form input {
  font-size: 25px;
}
.full {
  margin-left: 20%;
  margin-top: -100px;
  color: #2bae66ff;
}
label {
  color: #2bae66ff;
}
.log {
  margin-top: 50px;
}

button {
  font-size: 30px;
}
.h {
  font-size: 30px;
  margin-top: -10px;
  display: flex;
}

/*media query*/

@media screen and (max-width: 600px) {
  .body {
    width: 600px;
  }
  h1 {
    font-size: 30px;
    width: 500px;
  }
  .log {
    margin-top: 10px;
  }
  p {
    font-size: 20px;
  }
}
