body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-color: rgb(191, 227, 191);
}
.logo {
  margin-left: 620px;
  margin-top: 15px;
}
.pro {
  margin-right: 50px;
  margin-top: 10px;
  width: 200px;
  color: white;
  font-size: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
  background-color: #2bae66ff;
  color: white;
  margin-top: 00px;
  height: 130px;
  border-radius: 100px;
}
.side-bar {
  position: fixed;
  height: 330px;
  width: 320px;
  background-color: #2bae66ff;
  margin-left: -10px;
  color: white;
  margin-top: 130px;
  font-size: 30px;
  border-radius: 50px;
}
.side-bar h3 {
  margin-left: 10px;
}
.btn button {
  font-size: 30px;
  width: 280px;
  height: 70px;
  border-radius: 50px;
  font-size: 30px;
  margin: 20px;
  background-color: #2bae66ff;
  color: blue;
}
.btn {
  width: 200px;
  margin-left: 550px;
  margin-top: 120px;
}
.no-dw a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.btn-1:hover .no-dw {
  display: block;
}
.no-dw a:hover {
  background-color: lightgreen;
  border-radius: 20px;
}
.no-dw {
  display: none;
  position: absolute;
  background-color: rgb(140, 198, 220);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(103, 181, 99);
  z-index: 1;
  border-radius: 20px;
  margin-left: 300px;
  margin-top: -90px;
}
