.body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  background-image: url(images/organic.jpg);
  background-size: center;
  width: 1490px;
  height: 800px;
}
h1 {
  margin-left: 500px;
  margin-top: 30px;
  text-align: center;
  color: white;
  background-color: #2bae66ff;
  border-radius: 50px;
  width: 500px;
}
.center {
  justify-content: space-between;
  align-content: center;
  color: black;
}
.center input {
  border-radius: 8px;
}
.form {
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 550px;
}
.form input {
  font-size: 30px;
}
.footer {
  margin-top: 100px;
  text-align: center;
  padding: 30px auto;
}
.footer button {
  border-radius: 50px;
  background-color: #2bae66ff;
  color: white;
  width: 200px;
}
button {
  font-size: 30px;
}
