.body {
  background-color: rgb(191, 227, 191);
  height: 870px;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.buy-btn {
  background-color: lightgreen;
  color: black;
  border: none;
  height: 50px;
  width: 174px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  margin-top: 200px;
  transition: box-shadow 0.2s;
  border-color: black;
}
.buy-btn:hover {
  color: white;
  background-color: rgba(6, 229, 245, 0.37);
}
.hbuy-btn {
  background-color: rgb(13, 235, 21);
  color: black;
  border: none;
  height: 50px;
  width: 174px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  margin-top: 200px;
  transition: box-shadow 0.2s;
  border-color: black;
}
.hbuy-btn:hover {
  color: white;
  background-color: blue;
}

.sell-btn {
  color: white;
  background-color: rgb(16, 102, 242);
  border: none;
  height: 50px;
  width: 174px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  margin-top: 200px;
  transition: box-shadow 0.2s;
}
.sell-btn:hover {
  background-color: yellow;
  color: black;
}

.com-btn {
  text-align: center;
  justify-content: space-between;
  padding-top: 150px;
  padding: 150px;
}
body {
  margin-top: 50px;
}
.logo {
  margin-left: 5px;
  margin-top: 5px;
  width: 200px;
}
.pro {
  margin-right: 50px;
  margin-top: 10px;
  width: 200px;
  color: white;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-top: 00px;
  background-color: #2bae66ff;
  color: white;
  height: 100px;
  border-radius: 50px;
}
