body {
  background-color: rgb(191, 227, 191);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
}
.search-bar {
  height: 43px;
  width: 320px;
  font-size: 30px;
}
.header {
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
}
.search-button {
  padding-top: -50px;
}
.sb {
  margin-top: 00px;
  height: 50px;
}
.sb::placeholder {
  padding: 50px;
}
.table {
  margin-left: 100px;
  margin-top: 50px;
}
.table th {
  width: 350px;
}
.table td {
  width: 350px;
}
.main {
  margin-top: 00px;
  margin-left: -60px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  text-align: center;
  font-size: 40px;
}
.main-1 {
  margin-top: 00px;
  margin-left: -60px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  text-align: center;
  font-size: 30px;
}
.main-1 input {
  margin-top: 30px;
  height: 30px;
  border-radius: 10px;
}
.main-1 button {
  height: 40px;
  width: 110px;
  font-size: 25px;
  background-color: #2bae66ff;
  color: white;
  border-radius: 20px;
}
.footer {
  top: 800px;
  align-content: center;
  margin-left: -5px;
  position: fixed;
  width: 1520px;
  height: 100px;
  background-color: #2bae66ff;
}
.footer button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: skyblue;
  border-radius: 10px;
  margin-left: 650px;
  margin-top: 30px;
  font-size: 25px;
}
.logo {
  text-align: center;
  margin-top: -60px;
}
