body {
  margin-top: 60px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(191, 227, 191);
  margin-left: 50px;
}
.full {
  margin-left: 100px;
  margin-top: 00px;
  justify-content: space-between;
  align-content: space-between;
  font-size: 30px;
}
.h {
  display: flex;
}
.tm {
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
}
.content {
  display: flex;
}
.footer {
  top: 800px;
  text-align: center;
  margin-left: -50px;
  position: fixed;
  width: 1520px;
  height: 100px;
  background-color: #2bae66ff;
}
.footer button {
  width: 200px;
  background-color: white;
  color: #2bae66ff;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 20px;
}
.footer button:hover {
  transform: scaleY(1.2);
}
.details {
  margin-left: 750px;
  margin-top: -150px;
  font-size: 30px;
}
.details input {
  font-size: 30px;
  color: black;
  background-color: rgb(191, 227, 191);
}
.logo {
  text-align: center;
  margin-top: -30px;
}
