/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #2bae66ff;
  background-color: rgb(191, 227, 191);
}

.upi img {
  border-radius: 50%;
  align-content: center;
}
.pay-icons {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-content: center;
}
.pay p {
  text-align: center;
}
hr {
  width: 500px;
  margin-left: 00px;
  margin-top: 10px;
}
.footer {
  text-align: center;
}
.footer button {
  width: 200px;
  background-color: #2bae66ff;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  height: 40px;
}
.footer button:hover {
  transform: scaleY(1.1);
}
.detail {
  width: 100px;
}
.details {
  float: right;
  width: 500px;
  margin-top: -170px;
}
input {
  font-size: 30px;
  background-color: rgb(191, 227, 191);
}
.logo {
  text-align: center;
  margin-top: 00px;
}

/* Media query */

/* @media screen and (max-width: 600px) {
  .logo {
    width: 600px;
  }
  .details {
    margin-top: 00px;
    margin-left: -40px;
  }
  h1 {
    top: -10px;
    font-size: 30px;
  }
  .footer {
    text-align: center;
  }
  .qr {
    margin-left: 50px;
  }
  h1,
  h3 {
    margin-left: 50px;
  }
} */

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgb(191, 227, 191);
  /* background-color: rgb(191, 227, 191); */
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #2bae66ff;
}
.topic {
  /* background-color: #2bae66ff; */
  color: #2bae66ff;
  font-size: 20px;
  display: flex;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
}
.side-bar {
  position: fixed;
  border-radius: 5px;
  top: 150px;
  width: 200px;
  height: 270px;
  box-shadow: 2px 2px 2px 2px rgb(191, 227, 191);
}
.side-bar nav {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.side-bar a:hover {
  scale: 1.2;
  box-shadow: 2px 2px 2px 2px rgb(191, 227, 191);
}
.side-bar a {
  border: none;
  color: #2bae66ff;
  font-size: 25px;
  text-decoration: none;
}
main {
  margin-left: 300px;
}
.div_card img {
  padding: 120px 0px 0px 150px;
}
footer {
  top: 803px;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 5px 2px 5px 5px rgb(191, 227, 191);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #2bae66ff;
}
footer input {
  height: 30px;
  margin-top: 25px;
}
