.body {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head {
  display: flex;
  width: 100%;
  height: 100px;
}
.head img {
  border-radius: 50px;
}
header {
  justify-content: space-around;
  align-content: space-around;
}
.header {
  text-align: center;
  background-color: #2bae66ff;
  display: flex;
}
.detail {
  width: 100px;
}
.details {
  float: right;
  width: 500px;
  margin-top: -760px;
}
input {
  font-size: 30px;
}
.footer {
  position: fixed;
  text-align: center;
  top: 800px;
  background-color: #2bae66ff;
  color: white;
  width: 1550px;
  height: 120px;
  margin-top: 0px;
}
.id {
  margin-top: 480px;
  display: flex;
}
.foot-p {
  margin-top: 10px;
  font-family: papyrus;
}
p {
  margin-left: 100px;
}
p img {
  margin-top: 10px;
}
