body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #2bae66ff;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(191, 227, 191);
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  /* box-shadow: 1px 1px 1px 3px rgb(145, 232, 184); */
  margin-top: 10px;
  border-radius: 5px;
}

.nav nav {
  display: flex;
}
h2 {
  width: 300px;
  font-size: 20px;
}
.card_div {
  padding: 40px 40px 40px 60px;
  width: 330px;
  margin-top: 70px;
  box-shadow: 1px 1px 1px 3px rgb(199, 237, 199);
  border-radius: 6px;
}
.same {
  color: white;
  background-color: #2bae66ff;
}
button {
  font-size: 20px;
  width: 140px;
  margin: 10px 0px 0px 10px;
  background-color: white;
  border: none;
  color: #2bae66ff;
  border-radius: 4px;
}
button:hover {
  color: white;
  background-color: #2bae66ff;
}
.button nav {
  display: flex;
  justify-content: space-around;
  box-shadow: 1.5px 1px 1px 3px rgb(173, 229, 198);
  margin-top: 20px;
  border-radius: 5px;
}
.button button {
  width: 250px;
}
.card_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  text-align: center;
  /* align-items: center; */
  align-content: center;
  color: #2bae66ff;
}
input {
  font-size: 25px;
  margin-top: 20px;
}

.amount_total td {
  font-size: 25px;
  padding: 20px 0px 0px 50px;
}
/* Media query */
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(191, 227, 191);
    text-align: center;
    align-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
  }
  header img {
    width: 40px;
    padding: 0px 0px 0px 0px;
  }
  .card_main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 70px;
  }
}
